div {
   margin: 0
}
body {
    background-color: #8292aa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    min-height: 100vh;
}
.Formulario {
    background-color: #503b3b;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(12, 11, 11, 0.1);
  }
  button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 80px; 
    font-size: 16px; 
    cursor: pointer; 
    border: none;
    border-radius: 6px; 
    border-color: rgb(46, 47, 97);
    background-color: #2162a8; 
    color: white; 
}
button:hover {
    background-color: rgb(27, 54, 83);
}
